/*  your css code here. If applicable */
.para:before {
content: 'Before Element';
color: red;
font-size: 20px;
margin-right: 5px;
}

.para:after {
content: 'After Element';
color: red;
font-size: 20px;
margin-left: 5px;
}